.mainGameContainer{
    display: flex;
    height: 90%;
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
}

.picContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.isCorrectContainer{
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.button{
    width: 10rem;
}