.mainHomePageContainer{
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.button{
    width: 10rem;
}
